<main class="vintage-frame">
<section id="section5">
        <h2>📍 Arugam Bay</h2>
        <div class="video-container" style="display: flex; justify-content: center; position: relative;">
            <video id="arugam-video" loop class="arugam-video" width="440" height="160">
                <source src="arugam.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <button id="play-pause-button" class="vintage-button">▶️</button>
        </div>
        <p>Arugam Bay in Sri Lanka is a paradise for nature lovers, but my surfing experience there was a bit of a
            rollercoaster. For three weeks, the waves were in holiday somewhere else. And let’s not forget the
            crowds in July—if you thought you’d have the waves to yourself, think again!</p>

        <p>But despite the small swells and packed beaches, the natural beauty of Arugam is stunning. As for the
            food, it was a delightful adventure. From fresh seafood to spicy curries, my taste buds were in for a
            treat.</p>

        <p> We've also been treated to breathtaking sunsets and had the chance to spot sauvage elephants casually
            strolling down the road. While we were thrilled to see those sauvage elephants, we've been lucky enough
            to never encounter
            a sauvage crocodile while paddling out. That would definitely be a wave we’d prefer to skip!</p>
        <div class="photo-grid">
            <div class="photo-item"><img src="Arugam/leopard1.png" alt="Photo 1"></div>
            <div class="photo-item"><img src="Arugam/mesurf.png" alt="Photo 2"></div>
            <div class="photo-item"><img src="Arugam/elephant2.png" alt="Photo 3"></div>

            <div class="photo-item"><img src="Arugam/kusasunset.png" alt="Photo 4"></div>
            <div class="photo-item"><img src="Arugam/elephant3.png" alt="Photo 5"></div>
            <div class="photo-item"><img src="Arugam/elephantfire.png" alt="Photo 6"></div>

            <div class="photo-item"><img src="Arugam/surf2.png" alt="Photo 7"></div>
            <div class="photo-item"><img src="Arugam/kikiandmimi.png" alt="Photo 8"></div>
            <div class="photo-item"><img src="Arugam/surf3.png" alt="Photo 9"></div>

            <div class="photo-item"><img src="Arugam/sunsetpoint.png" alt="Photo 10"></div>
            <div class="photo-item"><img src="Arugam/surf5.png" alt="Photo 11"></div>
            <div class="photo-item"><img src="Arugam/status.png" alt="Photo 12"></div>

            <div class="photo-item"><img src="Arugam/happykiki.png" alt="Photo 13"></div>
            <div class="photo-item"><img src="Arugam/surf1.png" alt="Photo 14"></div>
            <div class="photo-item"><img src="Arugam/happymimi.png" alt="Photo 15"></div>

            <div class="photo-item"><img src="Arugam/elephant.png" alt="Photo 16"></div>
            <div class="photo-item"><img src="Arugam/leopard2.png" alt="Photo 17"></div>
            <div class="photo-item"><img src="Arugam/buffalo.png" alt="Photo 18"></div>
        </div>
    </section>
</main>
