<main class="vintage-frame">
<section id="section3">
  <h2>📍 Bukit Bali</h2>
  <div>
    <div>
      <%= image_tag("bukit/barrel-.jpg", alt: "Bukit Bali Barrel", class: "full-width-image") %>
    </div>
  </div>
  <p>The Bukit is a vibrant mix of natural beauty and modern buzz.</p>
  <p>While it became a popular spot for Instagrammers, the stunning cliffs, lush hills, and secret beaches
    still hold their charm. Yes, you’ll find trendy beach clubs and plenty of people snapping photos, but
    that’s part of the fun!</p>
  <p>It’s a place where you can catch epic waves, sip a coconut by the ocean, and maybe even find a quiet
    corner to watch magical sunsets.</p>
  <p>Bukit offers a blend of adventure, relaxation, and a touch of social buzz, making it an exciting spot to
    explore.</p>
  <div class="gallery">
    <div>
      <%= image_tag "bukit/sunset-bukit.jpg", alt: "Bukit Bali Sunset", width: 200, height: 310 %>
    </div>
    <div>
      <%= image_tag "bukit/broken-board-bukit.jpg", alt: "Bukit Bali Broken Board", width: 200, height: 310 %>
    </div>
    <div>
      <%= image_tag "bukit/b&w-surfer.jpg", alt: "Bukit Bali Surfer", width: 200, height: 310 %>
    </div>
  </div>
</section>
</main>
