<main class="vintage-frame">
<section id="section1">
        <h2>📍 Lombok</h2>
        <p>I started my trip in Lombok, Bali's chill cousin who never made it to the big city but still knows how to
            party with epic surf spots, sunsets and stunning waterfalls. It's like Bali's hidden treasure chest,
            just with fewer tourists and more laid-back vibes!</p>
        <div class="container">
            <div class="scrolling-wrapper">
                <div class="images">
                    <img src="Lombok/cow.png" alt="Photo 1">
                    <img src="Lombok/orangesunset.png" alt="Photo 2">
                    <img src="Lombok/waterfall.png" alt="Photo 3">
                    <img src="Lombok/pinksunset.png" alt="Photo 4">
                    <img src="Lombok/dittewaterfall.png" alt="Photo 5">
                    <img src="Lombok/merese2.png" alt="Photo 6">
                    <img src="Lombok/merese3.png" alt="Photo 7">
                    <img src="Lombok/grupuk.png" alt="Photo 8">
                    <img src="Lombok/merese1.png" alt="Photo 9">
                    <img src="Lombok/surf.png" alt="Photo 10">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text">
                <h2><i>Inside Gerupuk</i></h2>
                <p>Inside Gerupuk's waves are the best to start making progress. It's a mellow, slow and forgiving
                    wave, but be careful of the crowd.</p>
            </div>
            <div class="video" style="display: flex; justify-content: center;">
                <video autoplay muted loop class="banner-video" style="display: block; margin: 0 auto;">
                    <source src="dronegrupuk.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </section>
</main>
