<section id="section2" class="vintage-frame">
        <h2>📍 Medewi</h2>
        <p>Did you know that Medewi Point is renowned for its longest left-hander wave in Indonesia?</p>
        <div><a href="https://www.youtube.com/watch?v=zh346eK5Ws0">Look at this beauty</a></div>
        <div class="mosaic-container">
            <div class="mosaic-item big"><img src="Medewi/black&white1.png" alt="Photo 1" width="200" height="310">
            </div>
            <div class="mosaic-item"><img src="Medewi/baliansunset.png" alt="Photo 2"></div>
            <div class="mosaic-item"><img src="Medewi/palmiers.png" alt="Photo 3"></div>
            <div class="mosaic-item big"><img src="Medewi/black&white2.png" alt="Photo 4"></div>
            <div class="mosaic-item big"><img src="Medewi/surfyellowboard.png" alt="Photo 5"></div>
            <div class="mosaic-item big"><img src="Medewi/medewivillage.png" alt="Photo 6"></div>
            <div class="mosaic-item big"><img src="Medewi/surfmissedaerial.png" alt="Photo 7"></div>
            <div class="mosaic-item big"><img src="Medewi/mel.png" alt="Photo 8"></div>
            <div class="mosaic-item big"><img src="Medewi/readytosurf.png" alt="Photo 9"></div>
            <div class="mosaic-item big"><img src="Medewi/chinesesurf.png" alt="Photo 10"></div>
            <div class="mosaic-item big"><img src="Medewi/ditte.png" alt="Photo 11"></div>
            <div class="mosaic-item big"><img src="Medewi/sole.png" alt="Photo 12"></div>
            <div class="mosaic-item big"><img src="Medewi/firman.png" alt="Photo 13"></div>
            <div class="mosaic-item big"><img src="Medewi/bigsurf.png" alt="Photo 14"></div>
        </div>
        <p>Medewi is the perfect place if you want to focus solely on surfing and learn from the best. To be honest,
            there's not much to do except catch some of the best waves.</p>
        <p>Beyond the waves, the people of Medewi are incredibly lovely, adding a warm and welcoming vibe to the
            area. You can enjoy laid-back interactions and chill activities with the locals, who often gather for
            relaxed beachside chats or small community events. It’s a great spot to immerse yourself in surfing
            while experiencing the friendly and easygoing atmosphere of the region.</p>
        <div class="polaroid-gallery">
            <div class="polaroid">
                <img src="Medewi/twopiecesboard.png" alt="Photo 1">
                <p>Broken Board</p>
            </div>
            <div class="polaroid">
                <img src="Medewi/readytosurf1.png" alt="Photo 2">
                <p>Ready to surf</p>
            </div>
            <div class="polaroid">
                <img src="Medewi/medewipirogue.png" alt="Photo 3">
                <p>Medewi village</p>
            </div>
        </div>

    </section>
