/* Container for Scrolling Images */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px 0;
}

.images {
  display: flex;
  flex-direction: row;
}

.images img {
  width: 200px;
  height: auto;
  margin-right: 10px;
  border-radius: 8px;
  object-fit: cover;
}
